<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
  <display-name>Archetype Created Web Application</display-name>

<!-- 

  <filter>
  	<filter-name>FiltroMuro</filter-name>
  	<filter-class>com.wpsnetwork.filtros.FiltroMuro</filter-class>
  </filter>

  <filter-mapping>
  	<filter-name>FiltroMuro</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
 -->


  <filter>
  	<description>
  	</description>
  	<display-name>FiltroImagenes</display-name>
  	<filter-name>FiltroImagenes</filter-name>
  	<filter-class>com.wpsnetwork.filtros.FiltroImagenes</filter-class>
  </filter>



  <filter-mapping>
  	<filter-name>FiltroImagenes</filter-name>
  	<url-pattern>/imagenes/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  	<dispatcher>INCLUDE</dispatcher>
  	<dispatcher>ERROR</dispatcher>
  </filter-mapping>

</web-app>
